:root {
    --fonte-titulo: 'Dancing Script', cursive;
    --fonte-subtitulo: 'Montserrat', sans-serif;
    --fonte-corpo: 'Montserrat', sans-serif;
    --tamanho-titulo: 36px;
    --tamanho-subtitulo: 20px;
    --tamanho-texto: 18px;
    --peso-titulo: 400;
    --peso-subtitulo: 700;
    --peso-texto: 400;
    --cor-primaria: #FF80AB;
    --cor-secundaria: #90CAF9;
    --cor-destaque1: #C4E538;
    --cor-destaque2: #D7A5FF;
    --cor-fundo: #F5F5F5;
    --cor-realce: #FF7043;
    --cor-realce-forte: #f83c03;
    --cor-titulo: #333333;
    --cor-subtitulo: #666666;
    --cor-texto: #888888;
}

.dark-mode:root {
    --cor-fundo: #121212;
    --cor-titulo: #FFFFFF;
    --cor-subtitulo: #CCCCCC;
    --cor-texto: #E0E0E0;
}

html, body {
    font-family: var(--fonte-corpo);
    font-size: var(--tamanho-texto);
    font-weight: var(--peso-texto);
    color: var(--cor-texto);
    background-color: var(--cor-fundo);
}

h1 {
    font-family: var(--fonte-titulo);
    font-size: var(--tamanho-titulo);
    font-weight: var(--peso-titulo);
    color: var(--cor-realce);
}

h2 {
    font-family: var(--fonte-subtitulo);
    font-size: var(--tamanho-subtitulo);
    font-weight: var(--peso-subtitulo);
    color: var(--cor-titulo);
}

header {
    border-bottom: var(--cor-realce-forte) solid 1px;
    background-color: var(--cor-realce);
}

section {
    padding: 20px 10px;
}

#banner {
    padding: 0;
}

.navbar-nav li a {
    color: white;
  }

.nav-link:hover {
    background-color: #f83c03;
    color: white;
}

.nav-link:focus {
    background-color: #f83c03;
    color: white;
}

.offcanvas {
    background-color: var(--cor-realce);
}

.carousel .carousel-item img {
    height: calc(100vh - 100px);
    object-fit: cover;
} 

.carousel .carousel-item h5 {
    font: var(--fonte-subtitulo);
    font-weight: var(--peso-subtitulo);
    font-size: var(--tamanho-subtitulo);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
} 
